////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///   Color system
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$blue01:                  #F0F5FB;
$blue02:                  #ECEEF6;
$blue03:                  #59AAF1;

$white:                   #ffffff;
$black:                   #000000;

$gradientOrange:          linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///   Font system
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$fontFamilyBase:          'Montserrat', sans-serif;

$font-light:              300;
$font-regular:            400;
$font-semiBold:           600;
$font-bold:               700;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///   Grid system
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1400px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1160px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
$grid-row-columns:            6 !default;

$user-selects: null;
$table-th-font-weight: 1;
