.logo {
  display: block;
  max-width: 112px;

  &--header {
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
