.section__header {
  text-align: center;
  .section__title {
    font-size: 48px;
    font-weight: $font-bold;
    line-height: 122%;

    &--doubleLine {
      line-height: 150%;
    }
  }

  .section__description {
    font-size: 18px;
    line-height: 140%;
    margin-top: 18px;
  }
}
